@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --header: #1F271B;
    --text-color: #E2E2E2; 
    --question: #5F0A87;
    --answer: #C97B84;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open Sans', sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;
}

/* heading */
h1,
h2,
h3 {
    font-weight: 500;
    padding: 1rem;
}

/* logo */

h1 {
    font-size: 5rem;
    text-align: center;
}

/* header */

header {
    background-color: var(--header);
    z-index: 1000;
    width: 100%;
}