@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --header: #1F271B;
    --text-color: #E2E2E2; 
    --question: #5F0A87;
    --answer: #C97B84;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}