@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --header: #191d1d;
    --text-color: #E2E2E2; 
    --question: #5F0A87;
    --answer: #C97B84;
    --background-color: #837d7d;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open Sans', sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

/* heading */
h1,
h2,
h3 {
    font-weight: 500;
    padding: 1rem;
}

/* logo */

h1 {
    font-size: 5rem;
    text-align: center;
}

/* header */

header {
    background-color: var(--header);
    z-index: 1000;
    width: 100%;
}

/* game container */

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.container > * {
    grid-column: 2;
    text-align: center;
    margin-top: 3rem;
}

/* question tracker */
.HUD {
    text-align: left;
    margin-left: 10rem;
    text-transform: capitalize;
}

#score-tracker {
    text-align: right;
    margin-right: 10rem;
    font-weight: 800;
}

/* Difficulty buttons */

.difficulty {
    text-decoration: none;
    background-color: var(--question);
    padding: 1rem;
    width: 20rem;
    margin-inline: auto;
    border-radius: 2rem;
}

.difficulty:hover {
    cursor: pointer;
    background-color: rgba(94, 10, 133, 0.5);
    box-shadow: 0 4px 0 rgba(94, 10, 133, 0.2);
}

.difficulty:active {
    transform: scale(0.97)
}

/* answer box */
.answer-box {
    background-color: var(--answer);
    padding: 1rem;
    margin-inline: auto;
    border-radius: 2rem;
    width: 100%;
}

.answer-box:hover {
    cursor: pointer;
    background-color: rgba(201, 123, 132, 0.7);
    box-shadow: 0 4px 0 rgba(201, 123, 132, 0.5);;
}

.answer-box:active {
    transform: scale(0.97)
}

/*reset and home buttons*/

.btn a {
    margin: 0 2rem;
}

.btn a i {
    font-size: 3rem;
    text-decoration: none;
    background-color: var(--question);
    padding: 1rem;
}

/* correct and incorrect answers */

.correct {
    background-color: var(--header);
}

.incorrect {
    background-color: var(--question);
}